*,
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #dfdcdc;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.mnemo {
  position: relative;
  margin: 20px auto 0;
  max-width: 1080px;
}

.mnemo__param-val {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgb(218, 215, 215);
  padding: 3px;
  font-size: 16px;
}

.mnemo__param-val:hover {
  box-shadow: none;
  cursor: default;
}

.mnemo__param-val:active {
  box-shadow: none;
  cursor: default;
}

.mnemo__param-text {
  font-size: 14px;
  line-height: 14px;
  color: blue;
  font-weight: 600;
}

.mnemo__param-naimenov {
  font-size: 14px;
  line-height: 14px;
  color: blue;
  font-weight: 600;
}

.mnemo__param-descr {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 14px;
  color: rgb(10, 59, 10);
  font-weight: 600;
  text-align: center;
}

.mnemo__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.current-param__title-span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.reactors {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.reaktor {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reaktor-meshalka {
  width: 30px;
}

.reactor-dvig-platform {
  width: 20px;
  height: 30px;
  background-color: rgb(179, 176, 176);

  margin: 0 auto;
}

.reaktor-dvig {
  width: 30px;
  height: 50px;
}

.reaktor-emkost {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 300px;
  /* background-color: blue; */
  background: linear-gradient(to right, rgb(56, 56, 247), rgb(219, 216, 216), rgb(56, 56, 247));
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.reaktor-niz {
  width: 20px;
  height: 50px;
  background-color: rgb(179, 176, 176);
  margin: 0 auto;
}

.reaktors-connect {
  width: 100%;
  height: 20px;
  background-color: rgb(179, 176, 176);
}

/* Всплывающие подсказки */
.mnemo__param-box--btns {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.mnemo__param-box--btn {
  padding: 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mnemo__param-box--btn:hover {
  color: white;
  background-color: green;
}

.mnemo__param-box--btn:active {
  color: white;
  background-color: green;
}

.mnemo__param-clue {
  width: 150px;
  position: absolute !important;
  z-index: 2;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.mnemo__param-clue-content {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  border: 2px solid green;
  border-radius: 15px;
}

.mnemo__param-clue-content::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  z-index: -1;
  width: 25px;
  height: 25px;
  background-color: green;
  transform: rotate(45deg) translateX(-50%);
}

.mnemo__param-clue-div:not(:last-child) {
  margin-bottom: 5px;
}

.mnemo__param-clue-div {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.mnemo__param-clue-span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.mnemo__param-val:hover .mnemo__param-clue {
  visibility: hidden;
  opacity: 0;
}

.mnemo__param-val:active .mnemo__param-clue {
  visibility: hidden;
  opacity: 0;
}

.mnemo__param-val:focus {
  outline: none;
}

.mnemo__param-val:focus .mnemo__param-clue {
  visibility: hidden;
  opacity: 0;
}

.enabled-hover:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 6px green;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.enabled-hover:active {
  box-shadow: 0 0 0 3px white, 0 0 0 6px green;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.enabled-hover:hover .mnemo__param-clue {
  visibility: visible;
  opacity: 1;
}

.enabled-hover:hover .mnemo__param-clue {
  visibility: visible;
  opacity: 1;
}

.enabled-hover:focus {
  outline: none;
}

.enabled-hover:focus .mnemo__param-clue {
  visibility: visible;
  opacity: 1;
}

.temp-clue {
  width: 175px;
  top: 45px;
  left: -41px;
}

.level-clue {
  width: 205px;
  top: 195px;
  left: -55px;
}
