@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #dfdcdc;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}

.mnemo {
  position: relative;
  width: 1316px;
  margin: 0 auto;
}

.mnemo__img {
  width: 1316px;
}

.mnemo__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.current-param__title-span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.regenerator-center {
  position: absolute;
  top: 16%;
  right: 45.5%;
  z-index: 2;
  width: 2px;
  height: 100px;
  background-color: black;
}

.mnemo__param {
  margin: 0;
  position: absolute;
  z-index: 1;
}

.mnemo__param-val {
  width: 53px;
  background-color: rgb(218, 215, 215);
  padding: 2px;
  font-size: 16px;
}

.mnemo__param-text {
  font-size: 14px;
  line-height: 14px;
  color: blue;
  font-weight: 600;
}

.mnemo__param-naimenov {
  font-size: 14px;
  line-height: 14px;
  color: blue;
  font-weight: 600;
}

.mnemo__param-descr {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 14px;
  color: rgb(10, 59, 10);
  font-weight: 600;
  text-align: center;
}

.mnemo__param-descr-left {
  color: black;
  background-color: green;
  padding: 3px;
}

.mnemo__param-descr-right {
  color: black;
  background-color: orange;
  padding: 3px;
}

.mnemo__param-descr-borov {
  font-size: 10px;
  width: 60px;
  padding: 3px;
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(173, 173, 173);
  color: black;
}

.mnemo__gif {
  position: absolute;
  z-index: 1;
}

.mnemo__gif-1 img {
  width: 35px;
}

.regenerator-text {
  top: 13%;
  right: 42.5%;
}

.vrl-t {
  top: 18.5%;
  right: 45.65%;
}

.vrp-t {
  top: 18.5%;
  right: 41.3%;
}

.mnemo__param-box div {
  position: static;
}

.mnemo__param-flex {
  display: flex;
}

.mnemo__param-val-p {
  padding: 2px;
  width: 85px;
  background-color: rgb(168, 243, 168);
}

.vr {
  display: flex;
  position: absolute;
  top: 16%;
  right: 41%;
}

.mnemo__param-box-vr:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mnemo__param-box-vr:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mnemo__param-box-db {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mnemo__param-box-vozduh-left {
  display: flex;
  flex-direction: column;
}

.mnemo__param-box-vozduh-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vd {
  position: absolute;
  top: 7.5%;
  left: 13%;
}

.vb {
  position: absolute;
  top: 7.5%;
  left: 34%;
}

.sd {
  position: absolute;
  top: 32%;
  left: 13%;
}

.sb {
  position: absolute;
  top: 32%;
  left: 34%;
}

.nd {
  position: absolute;
  top: 56%;
  left: 13%;
}

.nb {
  position: absolute;
  top: 56%;
  left: 34%;
}

.dym-borov-text {
  bottom: 39%;
  right: 26%;
}

.db {
  position: absolute;
  bottom: 7%;
  right: 27%;
}

.ks {
  position: absolute;
  bottom: 29.4%;
  left: 8.5%;
}

.vozduh-left {
  position: absolute;
  bottom: 19%;
  left: 14.9%;
}

.vozduh-right {
  position: absolute;
  bottom: 19%;
  left: 32.4%;
}

.p-vozduh-left {
  position: absolute;
  bottom: 53.4%;
  left: 13.5%;
}

.p-vozduh-right {
  position: absolute;
  bottom: 53.4%;
  left: 34%;
}

.zilindr {
  position: absolute;
  bottom: 30%;
  right: 3%;
}

.mnemo__param-descr-zilindr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.mnemo__param-descr-zilindr span {
  margin-right: 15px;
}

.mnemo__gif-2 {
  bottom: 3%;
  right: 47%;
}

.mnemo__gif-2 img {
  width: 80px;
  height: 62px;
}

.table-mpa {
  position: absolute;
  right: 3%;
  top: 10%;
  z-index: 1;
}

.table {
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: #e7eef4;
  box-shadow: 0 0 5px 0 black;
}

.table__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: green;
}

.table__tr {
  height: 30px;
  border: 1px solid black;
}

.table__th {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: black;
}

.table__td {
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: black;
}

.table__left {
  padding: 10px;
  text-align: left;
}

.table__right {
  color: green;
  font-weight: 600;
}

.table__th:not(:last-child),
.table__td:not(:last-child) {
  border-right: 1px solid black;
}

@media (max-width: 1280px) {
  .mnemo {
    position: relative;
    width: 976px;
  }

  .mnemo__img {
    width: 976px;
  }

  .mnemo__param-text,
  .mnemo__param-naimenov {
    font-size: 12px;
    line-height: 14px;
  }

  .mnemo__param-descr {
    font-size: 10px;
    line-height: 10px;
  }

  .table__th {
    font-size: 13px;
    line-height: 13px;
  }

  .table__td {
    font-size: 11px;
    line-height: 11px;
  }

  .mnemo__param-val {
    width: 49px;
  }

  .mnemo__param-val-p {
    width: 73px;
  }

  .vr {
    right: 39.5%;
  }

  .vb,
  .sb,
  .nb {
    left: 30%;
  }

  .ks {
    left: 7.5%;
  }

  .mnemo__param-descr-zilindr {
    margin-bottom: 1px;
  }

  .zilindr {
    /* bottom: 14.9%; */
  }

  .db {
    right: 26.5%;
  }

  .mnemo__gif-2 {
    bottom: 2.6%;
    right: 46.6%;
  }

  .mnemo__gif-2 img {
    width: 65px;
    height: 50px;
  }

  .vozduh-right {
    position: absolute;
    bottom: 19%;
    left: 31.1%;
  }
}